page-task {

	.card-background-page {
		position: relative;
	}
	
	#label {
		position: absolute;
		top:15%;
		margin: auto;
		
		font-size: 1.5em;
		width: 100%;
		text-align: center;
		
	}
	
	#input{
		position: absolute;
		top:25%;
		margin: auto;
		font-size: 1.5em;
		width: 90%;
		color: #000;
		
		-webkit-transform: translateX(5%);
		
		
	}
	
	.button {
		position: absolute;
		top:50%;
		font-size: 1.5em;
		width: 50%;
		-webkit-transform: translateX(50%);
		
		margin: auto;
		color: #000;
		
	}
	#reponse{
		position: absolute;
		top:65%;
		font-size: 1.5em;
		width: 90%;
		color: #000;
		-webkit-transform: translateX(5%);
		
	}
	
	

}
