@font-face {
	font-family: 'Aardvark Cafe';
	src: url('AardvarkCafe.eot');
	src: url('AardvarkCafe.eot?#iefix') format('embedded-opentype'),
		url('AardvarkCafe.woff') format('woff'),
		url('AardvarkCafe.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Captain Redemption';
	src: url('CaptainRedemption.eot');
	src: url('CaptainRedemption.eot?#iefix') format('embedded-opentype'),
		url('CaptainRedemption.woff') format('woff'),
		url('CaptainRedemption.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Stranger back in the Night';
	src: url('StrangerbackintheNight.eot');
	src: url('StrangerbackintheNight.eot?#iefix') format('embedded-opentype'),
		url('StrangerbackintheNight.woff') format('woff'),
		url('StrangerbackintheNight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Organique DEMO';
	src: url('OrganiqueDEMO.eot');
	src: url('OrganiqueDEMO.eot?#iefix') format('embedded-opentype'),
		url('OrganiqueDEMO.woff') format('woff'),
		url('OrganiqueDEMO.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

header
{
	font-family: 'Organique DEMO';
	font-size: 5ex;
	background-color: #FF66A8;
}

nav
{
       
}

body
{
       background-color: #F5F6F8
}


footer
{
       
}











