header
{
	display: flex;
      text-align: center;
      margin : auto;
      #max-width: 200px;
      #background-color:#8FB8D6;
}

#heure
{
	border:2px solid grey;
  border-left: 7px solid grey;
  border-right: 7px solid grey;
  border-radius: 10px;
	flex-shrink: 40;
	text-align: center;
	margin : auto;
	font-family:  Verdana,Impact, serif;
	font-size: 6ex;
	max-width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

body
{
	background-image: url("images/fond3_r.jpg");
	background-size: cover;
}


#corps
{
	display: flex;
	flex-direction: column;
  border-radius: 10px;
}

#icon
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.bouton
{
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255, 255, 255, 0);
	
	border:none;
	#max-height: 80px;
	max-width:80px;
}

#mic
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.miccap
{
	font-family: Century Gothic, sans-serif;
	font-size: 2ex;
	font-weight: normal;
	text-align: center;
}

footer
{
	font-family:  Georgia;
}
